@font-face {
  font-family: 'Hammersmith One';
  src: url('/fonts/HammersmithOne-Regular.woff') format('woff');
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: "Hammersmith One", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.header__container {
  height: 100vh;
  background-image: url(../img/supermarket.png);
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__container h1 {
  font-size: 80pt;
  margin-bottom: 10px;
}

.header__container h2 {
  margin-bottom: 0;
  font-weight: 400;
}

.header__date {
  padding-top: 54px;
}

.header__date p {
  /*text-transform: uppercase;*/
  font-size: 18pt;
  color: white;
  margin: 0 0 0 0;
  text-align: center;
}

.header__logo {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  width: 50%;
  min-width: 300px;
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 30%;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
}

.header__tagline {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40%;
  background-color: #FBFAEF;
  color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /*padding: 15px 5px 15px 5px;*/
  width: 30%;
  min-width: 200px;
}

.header__tagline h1 {
  margin: 0 0 0 0;
  font-size: 14pt;
  /*font-family: "LCD Solid", sans-serif;*/
  /*text-transform: uppercase;*/
  /*font-weight: 400;*/
}

#boardwalk, #rollercoaster, #plane, #ferriswheel,
#circustent, #gamebooths, #swingride {
  position: absolute;
  z-index: 0;
  bottom: 0;
  max-height: 500px;
  left: 0;
}

#plane {
  left: auto;
  right: 5%;
}


#cloud2 {
  width: 400px;
  position: absolute;
  bottom: -15vh;
  right: 5%;
  z-index: 5;
}

.foodcart {
  height: 50px;
  margin: 0 20px 0 0;
}

.leader {
  width: 60px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: 5px;
}

.leader__arrow {
  border: 10px solid black;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
}

.leader__text {
  text-transform: uppercase;
  font-size: 10pt;
  margin-top: 15px;
  text-align: center;
  color: black;
}

.content {
  background: linear-gradient(#EFBAB0, white);
}

.content__container {
  /*max-width: 1200px;*/
  margin-left: auto;
  margin-right: auto;
}

.content__preview {
  margin-bottom: 50px;
}

.content__preview h1 {
  margin: 0 0 10px 0;
}

.content__preview p {
  font-size: 16pt;
}

.workshops__container {
  background-color: #FBFAEF;
  /*padding: 0 20px 0 20px;*/
  display: flex;
  flex-wrap: wrap;
}

.workshops__block {
  padding: 30px;
  flex: 1 1 400px;
  text-align: center;
}

.workshops__block h2,
.workshops__block img {
  text-align: center;
  margin-bottom: 5px;
}

.workshops__block--lemons {
  background:
    linear-gradient(
      rgba(254, 201, 211, 0.8),
      rgba(254, 201, 211, 0.8)
    ),
    url(../img/lemons.jpg);
}

.workshops__block--peaches {
  background:
    linear-gradient(
      rgba(240, 224, 122, 0.8),
      rgba(240, 224, 122, 0.8)
    ),
    url(../img/peaches.png);
}

.receipt {
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/receipt.png);
  background-size: auto 100%;
  padding: 40px;
  padding-top: 60px;
  max-width: 450px;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .workshops__block {
    padding: 5px;
  }
}

.workshop__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.6);
  padding-bottom: 10px;
  /*justify-content: center;*/
}

.workshop__row h3 {
  font-size: 14pt;
  text-transform: uppercase;
  margin: 0 0 0 0;
}

.workshop__row a:hover {
  background-color: black;
  color: #FBFAEF;
  
}

.workshop__row a {
  padding: 0 10px 0 10px;
  text-decoration: none;
  font-size: 10pt;
  text-transform: uppercase;
  color: black;
  
}

.workshop__info {
  flex: 3 1 200px;
  padding-right: 10px;
}

.workshop__info p {
  font-size: 12pt;
  margin-bottom: 0;
}

.workshop__time {
  margin: 0 0 0 0;
  font-size: 10pt;
  text-align: right;
}

.workshop__actions:hover {
  margin-top: 17.5px;
}

.workshop__actions {
  flex: 1 1 100px;
  margin-top: 20px;
}

.footer {
  background-color: #73CEDC;
  position: relative;
  padding-bottom: 100px;
}

#logo {
  position: relative;
  top: -10%;
  left: 50%;
  transform: translateX(-50%) translateY(-70px);
  margin-bottom: 0;
}


.footer h1, .footer p {
  text-align: center;
}

.btn__rsvp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  width: 20%;
  min-width: 200px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20pt;
  border: 5px solid white;
  border-radius: 5px;
  padding: 10px 5px;
}

a.header__tagline.btn__rsvp {
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

#innod {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 25%;
  bottom: -30px;
}
