.nav--mini {
  background-image: url(../img/sky.png);
  background-size: 100%;
  background-position: bottom;
  padding: 20px;
  height: 140px;
  margin: 0 0 0 0;
}

.nav--mini img {
  height: 100px;
}

#nav__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ws_content__container {
  margin: 0 0 0 0;
  padding: 5%;
  background: linear-gradient(#EFBAB0, white);
}

.workshops__container.workshops__page {
  display: block;
  box-sizing: border-box;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  padding-top: 20px;
}

.workshops__page h1 {
  margin-bottom: 10px;
}

.workshops__page h3 {
  font-size: 14pt;
}

.workshops__time {
  font-family: "LCD Solid", sans-serif;
  text-transform: uppercase;
  font-size: 10pt;
  margin-bottom: 0;
}

.workshops__picture {
  border-radius: 100%;
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .workshops__container.workshops__page {
    width: 100%;
  }
}