@font-face {
  font-family: Pixelade;
  src: url(../assets/fonts/PIXELADE.woff);
}

@font-face {
  font-family: Typopixel;
  src: url(../assets/fonts/typo_pixel.woff);
}

* {
  color:#1E7158;
}

#hone-title {
  color: #559071;
  font-family: Typopixel;
  -webkit-appearance: none;
  text-shadow:
    -3px -3px 0 #ecf3d8,
    3px -3px 0 #ecf3d8,
    -3px 3px 0 #ecf3d8,
    3px 3px 0 #ecf3d8;  
}

.fixed-top {
  z-index: -2;
}

.fixed-bottom {
  z-index: 0;
}

/* #cloud {
  z-index: -999999;
  position: absolute;
  transform: translateY(-5em);
  left: 65%;
}

#cloud2 {
  z-index: -999999;
  position: absolute;
  width: 200%;
}

#cloud3 {
  z-index: -999999;
  position: absolute;
  right: 80%;
  top: 35%;
  width: 100%;
}

#cloud4 {
  z-index: -999999;
  position: absolute;
  right: 95%;
  top: 35%;
  width: 200%;
}

#camera {
  z-index: -999999;
  position: absolute;
  width: 40%;
  transform: translateY(5em);
}

#pen-tool {
  z-index: -999999;
  position: absolute;
  width: 20%;
  right: 50%;
}

#line {
  z-index: -999999;
  position: absolute;
  width: 40%;
  transform: translateY(5em);
}

#cloud-container {
  text-align: center;
  display: block;
}

#laptop {
  z-index: -999999;
  position: absolute;
  width: 40%;
  left: 90%;
}

#sparkle {
  z-index: -999999;
  position: absolute;
  width: 25%;
  right: 97%;
  top: 40%;
}

#coffee {
  height: 10vh;
  position: absolute;
  left: -10;
  bottom: 20;
}

#bus {
  height: 35vh;
  position: absolute;
  top: 25;
  left: -25;
}

#water {
  height: 10vh;
  position: absolute;
  right: 0;
  top: 25;
}

#index-cards {
  height: 25vh;
  position: absolute;
  right: 0;
  bottom: 25;
} */

body {
  font-family: Pixelade;
  font-weight: normal;
  margin: auto;
  z-index: 0;
  background-color: #193444;
  position: relative;
  color: #ecf3d8;
  overflow-x: hidden;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  position: relative;
}

.hero-container h1 {
  font-family: Pixelade;
  font-weight: bold;
}

.clouds {
  position: absolute;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -9000;
  opacity: 0.3;
}

.clouds:before, .clouds:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/fa21/clouds.png");
  background-size: 125%;
  background-repeat: no-repeat;
  animation: scrollLeft 20s infinite linear;
}

.clouds:before {
    right: 100%;
}

@keyframes scrollLeft {
  from  {
    transform: translateX(0%);
  }
  to {   
    transform: translateX(100%);
  }
}

h1 {
  font-family: Pixelade;
  text-align: center;
  color: #fff;
  font-size: 100px;
  /* margin-bottom: 3rem; */
  letter-spacing: .05em;
  font-weight: 800;
}

h2 {
  font-family: Pixelade;
  color: #acd692;
  font-size: 36px;
  margin: 0;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #ecf3d8;
  font-size: 24px;
  letter-spacing: 1px;
}

h4 {
  font-family: Pixelade;
  font-size: 22px;
  color: #559071;
}

h5 {
  font-size: 16px;
}

a {
  color: #acd692;
  font-weight: bold;
}

p {
  color: #ecf3d8;
}

a:hover {
  color: #559071;
  text-decoration: none;
}

.faq-section {
  margin: 5rem auto;
}

.faq-section h4 {
  color: #559071;
}

.box-container {
  display: flex;
  align-items: center;
}

.boxes {
  z-index: -1;
  width: 20%;
  margin: 0rem auto;
}

/* .boxes-container {
  left: 10%;
  width: 70%;
}

.boxes-container img {
  width: 100%;
}

.box-container {
  position: absolute;
} */

.boxes img {
  width: 80%;
}

#invisible {
  visibility: hidden;
}

.datetime {
  display: flex;
  align-items: center;
  width: 80%;
}

.datetime img {
  margin: 1rem auto;
  width: 100%;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1E7158;
  width: 100vw; 
}

.time h3 {
  font-size: 20px;
}

.panel {
  margin: 1rem auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.start-btn {
  /* font-size: 1.5rem;
  margin: 1.5rem;
  color: white; */
  /* padding: 10px 25px; */
  /* text-align: center;
  letter-spacing: 1px; */
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  background-image: url('../img/fa21/button.png');
  background-size: 150%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: auto;
  position: relative;
}

.start-btn img {
  width: 100%;
}

.btn-title {
  width: 100%;
  color: #ecf3d8;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-btn:hover {
  text-decoration: none;
  cursor: pointer;
}

.start-btn:active {
  color: white;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
  transition: opacity 0.5s cubic-bezier(0,0,0.3,1);
}

.schedule {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 54px;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 18px;
  }

  .btn {
    font-size: 0.75rem;
    margin: 0.75rem;
  }
}

@media only screen and (max-width: 600px) {
  #cloud {
    width: 0%;
  }

  #cloud2 {
    width: 0%;
  }

  #cloud3 {
    width: 0%;
  }

  #cloud4 {
    width: 0%;
  }

  #line {
    width: 0%;
  }

  #camera {
    height: auto;
    width: 0%;
  }

  #sparkle {
    width: 0%;
  }

  #pen-tool {
    width: 0%;
  }

  .clouds {
    background-repeat: repeat-y;
  }

  .clouds:before, .clouds:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/fa21/clouds.png");
    background-size: 125%;
    background-repeat: repeat-y;
    animation: scrollLeft 20s infinite linear;
  }

  .hero-container {
    margin-top: 0;
    /* margin-bottom: 3rem; */
  }

  .datetime img {
    width: 60%;
  }

  h1 {
    font-size: 32px;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-weight: 800;
  }

  h2 {
    font-size: 26px;
    margin: 2px;
  }

  h3 {
    font-size: 16px;
    margin: 2px;
  }

  .boxes {
    z-index: 0;
    margin-bottom: 15;
  }

  .btn {
    font-size: 1rem;
    margin: 1rem;
  }

  .schedule {
    margin-top: 20%;
    width: 95%;
  }

  .faq-section {
    width: 95%;
  }

  .about-section {
    width: 95%;
  }

}

.title {
  text-align: center;
  padding-bottom: 50px;
}

/* About */

.about_container {
  position: relative;
  margin-bottom: 48px;
}

.about_container>p {
  margin-top: 50px;
  font-size: 18px;
}


/* Schedule */

.schedule-row>div {
  padding-left: 5%;
}

.schedule-day {
  position: relative;
  width: 100%;
  /* padding-top: 24px; */
  /* border-top: 1px solid #283364 ; */
}

@media only screen and (max-width: 600px) {
  .schedule-row>div {
    padding-left: 0;
  }
}

.schedule-logistics {
  /* position: fixed; */
  top: 0;
}

.schedule-logistics h4 {
  font-family: Pixelade;
  font-weight: 800;
  color: #559071;
  font-size: 26px;
  padding: 2px;
  /* background-image: url("../img/fa21/platform.png");
  background-repeat: no-repeat; */
}

.schedule-block {
  font-weight: 600;
  margin: 36px 0px;
}

.schedule-block .description {
  color: #acd692;
  /* text-align: justify; */
  font-weight: 400;
  padding-top: 5px;
}

.schedule-block .required {
  font-size: 14px;
  padding-top: 5px;
}

.schedule-block p, .schedule-block h4, .schedule-block b {
  margin: 2px;

}

.schedule-block p {
  color: #559071;
  font-weight: 600;
  /* font-size: 12px;  */
}

.schedule-block h4 {
  color: #1E7158;
  font-family: Pixelade;
  font-size: 22px;
  margin-bottom: 4px;
}

.schedule-block b {
  color: #ecf3d8;
  font-size: 14px;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  text-align: center;
}
