@font-face {
  font-family: Pixelade;
  src: url(../assets/fonts/PIXELADE.woff);
}

@font-face {
  font-family: Typopixel;
  src: url(../assets/fonts/typo_pixel.woff);
}

* {
  color:#1E7158;
}

html {
  scroll-behavior: smooth;
}

#hone-title {
  color: #559071;
  font-family: Typopixel;
  /* -webkit-appearance: none; */
  text-shadow:
    -3px -3px 0 #ecf3d8,
    3px -3px 0 #ecf3d8,
    -3px 3px 0 #ecf3d8,
    3px 3px 0 #ecf3d8;  
}

.fixed-top {
  z-index: -2;
}

.fixed-bottom {
  z-index: 0;
}

body {
  font-family: Pixelade;
  font-weight: normal;
  margin: auto;
  z-index: 0;
  background-color: #193444;
  position: relative;
  color: #ecf3d8;
  overflow-x: hidden;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  position: relative;
}

.hero-container h1 {
  font-family: Pixelade;
  font-weight: bold;
}

.clouds {
  position: absolute;
  margin: auto;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  top: 10%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -8000;
  opacity: 0.4;
}

.clouds:before, .clouds:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/fa21/clouds-all.png");
  background-size: 100%;
  background-repeat: no-repeat;
  animation: scrollLeft 20s infinite linear;
}

.clouds:before {
    right: 100%;
}

.tiny {
  position: absolute;
  margin: auto;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  top: 85%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -7000;
  opacity: 0.3;
}

.tiny:before, .tiny:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/fa21/clouds-tiny.png");
  background-size: 15%;
  background-repeat: no-repeat;
  animation: scrollLeft 10s infinite linear;
}

.tiny:before {
    right: 100%;
}

.big {
  position: absolute;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -9000;
  opacity: 0.6;
}

.big:before, .big:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/fa21/clouds-big.png");
  background-size: 60%;
  background-repeat: no-repeat;
  animation: scrollLeft 25s infinite linear;
}

.big:before {
    right: 100%;
}

@keyframes scrollLeft {
  from  {
    transform: translateX(0%);
  }
  to {   
    transform: translateX(100%);
  }
}

.down {
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  border-style: solid;
  border-color: #ecf3d8;
  border-width: 0px 10px 10px 0px;
  transform: rotate(45deg);
  position: absolute;
  bottom: 10%;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(#5a99d4, .5);
  animation: pulse 1.5s infinite;
}

.down:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    transform: scale(.85) rotate(45deg);
    filter: drop-shadow(0px 0px 200px rgba(51, 217, 178, 0.7));
  }
  70% {
    transform: scale(1) rotate(45deg);
    /* box-shadow: 0 0 0 50px rgba(#5a99d4, 0); */
    filter: drop-shadow(0px 0px 200px rgba(51, 217, 178, 0));
  }
  100% {
    transform: scale(.85) rotate(45deg);
    /* box-shadow: 0 0 0 0 rgba(#5a99d4, 0); */
    filter: drop-shadow(0px 0px 0px rgba(51, 217, 178, 0));
  }
}

/* Tooltip text */
.down .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #1E7158;
  color: #ecf3d8;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  transform: rotate(-45deg);
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  /* top: 100%; */
}

/* Show the tooltip text when you mouse over the tooltip container */
.down:hover .tooltiptext {
  visibility: visible;
  opacity: 0.8;
  transition: opacity 1s ease-in-out;
}

h1 {
  font-family: Pixelade;
  text-align: center;
  color: #fff;
  font-size: 100px;
  /* margin-bottom: 3rem; */
  letter-spacing: .05em;
  font-weight: 800;
}

h2 {
  font-family: Pixelade;
  color: #acd692;
  font-size: 36px;
  margin: 0;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #ecf3d8;
  font-size: 24px;
  letter-spacing: 1px;
}

h4 {
  font-family: Pixelade;
  font-size: 22px;
  color: #559071;
}

h5 {
  font-size: 16px;
}

a {
  color: #acd692;
  font-weight: bold;
  transition: color 0.3ss ease-in-out;
}

p {
  color: #ecf3d8;
}

a:hover {
  color: #559071;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.faq-section {
  margin: 5rem auto;
}

.faq-section h4 {
  color: #559071;
}

.box-container {
  display: flex;
  align-items: center;
}

.boxes {
  z-index: -1;
  width: 20%;
  margin: 0rem auto;
}

/* .boxes-container {
  left: 10%;
  width: 70%;
}

.boxes-container img {
  width: 100%;
}

.box-container {
  position: absolute;
} */

.boxes img {
  width: 80%;
}

#invisible {
  visibility: hidden;
}

.datetime {
  display: flex;
  align-items: center;
  width: 80%;
}

.datetime img {
  margin: 1rem auto;
  width: 100%;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1E7158;
  width: 100vw; 
}

.time h3 {
  font-size: 20px;
}

.panel {
  margin: 1rem auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.start-btn {
  /* font-size: 1.5rem;
  margin: 1.5rem;
  color: white; */
  /* padding: 10px 25px; */
  /* text-align: center;
  letter-spacing: 1px; */
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  background-image: url('../img/fa21/button.png');
  background-size: 150%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: auto;
  position: relative;
}

.start-btn img {
  width: 100%;
}

.btn-title {
  width: 100%;
  color: #ecf3d8;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-btn:hover {
  text-decoration: none;
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.start-btn:active {
  color: white;
  text-decoration: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.start-btn-white {
    background-color: #559071;
}

.start-btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.start-btn-white::after {
    background-color: #559071;
}

.start-btn:hover::after {
    transform: scaleX(1.2) scaleY(3);
    opacity: 0;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.schedule {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 1400px) {
  h1 {
    font-size: 54px;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 18px;
  }

  .btn {
    font-size: 0.75rem;
    margin: 0.75rem;
  }

  .clouds {
    background-repeat: repeat-y;
  }

  .clouds:before, .clouds:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/fa21/clouds-all.png");
    background-size: 125%;
    background-repeat: repeat-y;
    animation: scrollLeft 20s infinite linear;
  }
}

@media only screen and (max-width: 600px) {

  .clouds {
    background-repeat: repeat-y;
  }

  .clouds:before, .clouds:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/fa21/clouds-all.png");
    background-size: 125%;
    background-repeat: repeat-y;
    animation: scrollLeft 20s infinite linear;
  }

  .hero-container {
    margin-top: 0;
    /* margin-bottom: 3rem; */
  }

  .datetime img {
    width: 60%;
  }

  h1 {
    font-size: 32px;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-weight: 800;
  }

  h2 {
    font-size: 26px;
    margin: 2px;
  }

  h3 {
    font-size: 16px;
    margin: 2px;
  }

  .boxes {
    z-index: 0;
    margin-bottom: 15;
  }

  .btn {
    font-size: 1rem;
    margin: 1rem;
  }

  .schedule {
    margin-top: 20%;
    width: 95%;
  }

  .faq-section {
    width: 95%;
  }

  .about-section {
    width: 95%;
  }

}

.title {
  text-align: center;
  padding-bottom: 50px;
}

/* About */

.about_container {
  position: relative;
  margin-bottom: 48px;
}

.about_container>p {
  margin-top: 50px;
  font-size: 18px;
}


/* Schedule */

.schedule-row>div {
  padding-left: 5%;
}

.schedule-day {
  position: relative;
  width: 100%;
  /* padding-top: 24px; */
  /* border-top: 1px solid #283364 ; */
}

@media only screen and (max-width: 600px) {
  .schedule-row>div {
    padding-left: 0;
  }
}

.schedule-logistics {
  /* position: fixed; */
  top: 0;
}

.schedule-logistics h4 {
  font-family: Pixelade;
  font-weight: 800;
  color: #559071;
  font-size: 26px;
  padding: 2px;
  /* background-image: url("../img/fa21/platform.png");
  background-repeat: no-repeat; */
}

.schedule-block {
  font-weight: 600;
  margin: 36px 0px;
}

.schedule-block .description {
  color: #acd692;
  /* text-align: justify; */
  font-weight: 400;
  padding-top: 5px;
}

.schedule-block .required {
  font-size: 14px;
  padding-top: 5px;
}

.schedule-block p, .schedule-block h4, .schedule-block b {
  margin: 2px;

}

.schedule-block p {
  color: #559071;
  font-weight: 600;
  /* font-size: 12px;  */
}

.schedule-block h4 {
  color: #1E7158;
  font-family: Pixelade;
  font-size: 22px;
  margin-bottom: 4px;
}

.schedule-block b {
  color: #ecf3d8;
  font-size: 14px;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  text-align: center;
}
