#hone-title {
  color: #F9E7D5;
  -webkit-appearance: none;
}

.fixed-top {
  z-index: -2;
}

.fixed-bottom {
  z-index: 0;
}

#cloud {
  z-index: -999999;
  position: absolute;
  transform: translateY(-5em);
  left: 65%;
}

#cloud2 {
  z-index: -999999;
  position: absolute;
  width: 200%;
}

#cloud3 {
  z-index: -999999;
  position: absolute;
  right: 80%;
  top: 35%;
  width: 100%;
}

#cloud4 {
  z-index: -999999;
  position: absolute;
  right: 95%;
  top: 35%;
  width: 200%;
}

#camera {
  z-index: -999999;
  position: absolute;
  width: 40%;
  transform: translateY(5em);
}

#pen-tool {
  z-index: -999999;
  position: absolute;
  width: 20%;
  right: 50%;
}

#line {
  z-index: -999999;
  position: absolute;
  width: 40%;
  transform: translateY(5em);
}

#cloud-container {
  text-align: center;
  display: block;
}

#laptop {
  z-index: -999999;
  position: absolute;
  width: 40%;
  left: 90%;
}

#sparkle {
  z-index: -999999;
  position: absolute;
  width: 25%;
  right: 97%;
  top: 40%;
}

#coffee {
  height: 10vh;
  position: absolute;
  left: -10;
  bottom: 20;
}

#bus {
  height: 35vh;
  position: absolute;
  top: 25;
  left: -25;
}

#water {
  height: 10vh;
  position: absolute;
  right: 0;
  top: 25;
}

#index-cards {
  height: 25vh;
  position: absolute;
  right: 0;
  bottom: 25;
}

body {
  font-family: "Lexend Deca";
  font-weight: normal;
  margin: 0;
  z-index: 0;
  background-color: #190457;
  position: relative;
  color: #efe3ce;
  overflow-x: hidden;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 5rem;
}

.hero-container h1 {
  font-family: "Flamenco";
  font-weight: bold;
}

h1 {
  font-family: "Flamenco";
  text-align: center;
  color: #fff;
  font-size: 100px;
  margin-bottom: 3rem;
  letter-spacing: .05em;
  font-weight: 800;
}

h2 {
  font-family: "Lexend Deca";
  font-size: 36px;
  margin: 0;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #F1A6A3;
  font-size: 24px;
  letter-spacing: 1px;
}

h4 {
  font-family: "Lexend Deca";
  font-size: 22px;
}

h5 {
  font-size: 16px;
}

a {
  color: #E66661;
  font-weight: bold;
}

a:hover {
  color: #2f5bc9;
  text-decoration: none;
}

.about-section {
  margin: 5rem auto;
}

.faq-section {
  margin: 5rem auto;
}

.faq-section h4 {
  color: #4F97E2;
}

.box-container {
  display: flex;
  align-items: center;
}

.boxes {
  z-index: -1;
  width: 60%;
  margin: 0rem auto;
}

/* .boxes-container {
  left: 10%;
  width: 70%;
}

.boxes-container img {
  width: 100%;
}

.box-container {
  position: absolute;
} */

.boxes img {
  width: 80%;
}

#invisible {
  visibility: hidden;
}

.datetime {
  display: flex;
  align-items: center;
  width: 80%;
}

.datetime img {
  margin: 1rem auto;
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.panel {
  margin: 1rem auto;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-size: 1.5rem;
  margin: 1.5rem;
  background-color: #4F97E2;
  color: white;
  padding: 10px 25px;
  text-align: center;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: #2950B0;
  color: white;
  text-decoration: none;
}

.btn:active {
  background-color: #2950B0;
  color: white;
}

.content {
  margin: auto;
  width: 70%;
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 54px;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 18px;
  }

  .btn {
    font-size: 0.75rem;
    margin: 0.75rem;
  }
}

@media only screen and (max-width: 600px) {
  #cloud {
    width: 0%;
  }

  #cloud2 {
    width: 0%;
  }

  #cloud3 {
    width: 0%;
  }

  #cloud4 {
    width: 0%;
  }

  #line {
    width: 0%;
  }

  #camera {
    width: 0%;
  }

  #sparkle {
    width: 0%;
  }

  #pen-tool {
    width: 0%;
  }

  .hero-container {
    margin-top: 0;
    margin-bottom: 3rem;
  }

  .datetime img {
    width: 60%;
  }

  h1 {
    font-size: 32px;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-weight: 800;
  }

  h2 {
    font-size: 26px;
    margin: 2px;
  }

  h3 {
    font-size: 16px;
    margin: 2px;
  }

  .boxes {
    z-index: 0;
    margin-bottom: 15;
  }

  .btn {
    font-size: 1rem;
    margin: 1rem;
  }

  .content {
    margin-top: 20%;
    width: 95%;
  }

  .faq-section {
    width: 95%;
  }

  .about-section {
    width: 95%;
  }

}

.title {
  text-align: center;
  padding-bottom: 50px;
}

/* About */

.about_container {
  position: relative;
  margin-bottom: 48px;
}

.about_container>p {
  margin-top: 50px;
  font-size: 18px;
}


/* Schedule */

.schedule-row>div {
  padding-left: 5%;
}

.schedule-day {
  position: relative;
  /* padding-top: 24px; */
  /* border-top: 1px solid #283364 ; */
}

@media only screen and (max-width: 600px) {
  .schedule-row>div {
    padding-left: 0;
  }
}

.schedule-logistics {
  /* position: fixed; */
  top: 0;
}

.schedule-logistics h4 {
  font-family: "Lexend Deca";
  font-weight: 800;
  color: #F1A6A3;
  font-size: 26px;
}

.schedule-block {
  font-weight: 600;
  margin: 36px 0px;
}

.schedule-block .description {
  color: #efe3ce;
  /* text-align: justify; */
  font-weight: 400;
  padding-top: 5px;
}

.schedule-block .required {
  font-size: 14px;
  padding-top: 5px;
}

.schedule-block p, .schedule-block h4, .schedule-block b {
  margin: 2px;

}

.schedule-block p {

  font-weight: 600;
  /* font-size: 12px;  */
  color: #4F97E2;
}

.schedule-block h4 {
  color: #efe3ce;
  font-family: "Lexend Deca";
  font-size: 22px;
  margin-bottom: 4px;
}

.schedule-block b {
  color: #F1A6A3;
  font-size: 14px;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

.footer img {
  height: 300px;
}
