@font-face {
    font-family: Digistick;
    src: url(assets/fonts/Digistick-Regular.otf);
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Digistick';
    margin-top: 10px;
    margin-bottom: 10px;
}

.landing-text h1 {
    font-size: 125px;
}

h2, h3, p {
    font-family: 'Source Code Pro', monospace;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 26px;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

.hex-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 100vh;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.background {
    position: absolute;
    z-index: -200;
    top: 0;
    margin: auto;
    padding: auto;
}

.background-img {
    height: 100vh;
    min-width: 100%;
} 

.landing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    margin: 10px;
}

.start-btn {
    width: 150px;
    height: 5vh;
    background-color: #000000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.42);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: #fff;
    transition: all .4s;
}

.start-btn:hover {
    cursor: pointer;
    transform: translateY(3px);
    box-shadow: none;
    background-color: #81C7B0;
    color:#fff;
    transition: all .4s;
}
  
.start-btn:active {
    color: white;
    transform: translateY(-1px);
}

.btn-title {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: auto;
    padding: auto;
    vertical-align: middle;
}

.down {
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    border-style: solid;
    border-color: #000000;
    border-width: 0px 10px 10px 0px;
    transform: rotate(45deg);
    position: relative;
    top: 25%;
    cursor: pointer;
    box-shadow: #000000;
    animation: pulse 1.5s infinite;
}
  
.down:hover {
    animation: none;
}
  
@keyframes pulse {
    0% {
        transform: scale(.85) rotate(45deg);
        filter: drop-shadow(0px 0px 200px rgba(51, 217, 178, 0.7));
    }
    70% {
        transform: scale(1) rotate(45deg);
        /* box-shadow: 0 0 0 50px rgba(#5a99d4, 0); */
        filter: drop-shadow(0px 0px 200px rgba(51, 217, 178, 0));
    }
    100% {
        transform: scale(.85) rotate(45deg);
        /* box-shadow: 0 0 0 0 rgba(#5a99d4, 0); */
        filter: drop-shadow(0px 0px 0px rgba(51, 217, 178, 0));
    }
}
  
/* Tooltip text */
.down .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #000000;
    color: #000000;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    transform: rotate(-45deg);
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
  
  /* Show the tooltip text when you mouse over the tooltip container */
.down:hover .tooltiptext {
    visibility: visible;
    opacity: 0.8;
    transition: opacity 1s ease-in-out;
}

.about-section {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos {
    width: 120px;
}

.about-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.magnets {
    height: 150px;
}

.day {
    width: 400px;
    margin: 20px;
}

.schedule-section {
    margin: 20px auto;
}

.schedules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.schedule-img {
    width: 40vw;
}

.faq-section {
    margin: 20px auto;
}

.faq-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.faq-img {
    width: 40vw;
}

.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 20px auto;
}

.innodlogo {
    width: 100px;
}

.footer-section a {
    font-family: 'Digistick';
    color: #000000;
}