@font-face {
  font-family: Neofolia;
  src: url("../assets/font/neofolia.ttf");
}

.innod {
  font-size: 1.5vmax;
  font-family: "bd-supper", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  flex: 1;
  color: #FFF;
  font-family: 'Neofolia';
  font-size: 20vmax;
  font-style: normal;
  text-align: center;
  margin-bottom: -100px;
  text-shadow: 0 0 1vmax #F68DFF;
}

.caption {
  font-size: 1.6vmax;
  font-family: "bd-supper", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.subcaption {
  font-size: 1.5vmax;
  font-family: "bd-supper", sans-serif;
  font-weight: 400;
  font-style: normal;
}