@font-face {
  font-family: Neofolia;
  src: url("../assets/font/neofolia.ttf");
}

.title {
  flex: 1;
  color: #fff;
  font-family: "Neofolia";
  font-size: 7vmax;
  font-style: normal;
  text-align: left;
  margin-top: 3em;
  /* margin-bottom: -50px; */
  text-shadow: 0 0 1vmax #ffffff;
}

.subtitle {
  color: #fff;
  font-family: "Neofolia";
  font-size: 3.5vmax;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 1rem;
}

.applyFlex {
  display: flex;
  width: 100%;
}

.flexChild {
  flex: 1;
  text-align: left;
}

.illustration4 {
  position: absolute;
  width: 30vw;
  top: 410vh;
  right: 1vw;
  flex: 1;
}

@media only screen and (max-width: 1350px) {
  .illustration4{
    top: 400vh;
  }
}

@media only screen and (max-width: 1280px) {
  .illustration4{
    top: 380vh;
  }
}

@media only screen and (max-width: 1120px) {
  .illustration4{
    top: 360vh;
  }
}

@media only screen and (max-width: 950px) {
  .illustration4{
    top: 350vh;
  }
}

@media only screen and (max-width: 860px) {
  .illustration4{
    top: 340vh;
  }
}

@media only screen and (max-width: 800px) {
  .illustration4{
    top: 350vh;
  }
}

@media only screen and (max-width: 700px) {
  .illustration4{
    top: 360vh;
  }
}

@media only screen and (max-width: 630px) {
  .illustration4{
    top: 370vh;
  }
}

@media only screen and (max-width: 600px) {
  .applyFlex {
    flex-direction: column;
  }

  .illustration4 {
    top: 470vh;
    width: 40vw;
  }
}

@media only screen and (max-width: 525px) {
  .illustration4 {
    top: 490vh;
  }
}

@media only screen and (max-width: 460px) {
  .illustration4 {
    top: 500vh;
  }
}
