@font-face {
  font-family: Neofolia;
  src: url("../assets/font/neofolia.ttf");
}

.title {
  flex: 1;
  color: #fff;
  font-family: "Neofolia";
  font-size: 7vmax;
  font-style: normal;
  text-align: left;
  margin-top: 10rem;
  /* margin-bottom: -50px; */
  text-shadow: 0 0 1vmax #ffffff;
}

.subtitle {
  color: white;
  font-family: "Neofolia";
  font-size: 6vmax;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 1rem;
  margin-top: 3rem;
}

.subtitle2 {
  margin-top: 10rem;
}

/* Apply the .applyFlex and .flexChild styles for screens wider than 767px (adjust as needed) */
@media screen and (min-width: 768px) {
  .title {
    margin-top: 25rem;
  }

  .subtitle {
    font-size: 3.5vmax;
    margin-top: 0rem;
  }

  .applyFlex {
    display: flex;
    width: 100%;
  }

  .flexChild {
    flex: 1;
    text-align: left;
  }

  .subtitle2 {
    margin-top: 0rem;
  }
}

@media only screen and (max-width: 600px) {
  .applyFlex {
    flex-direction: column;
  }
}
